<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: https://docs.shopify.com/support/your-store/products/can-i-recommend-related-products#finding-a-relevant-collecitons -->

{% comment %}
  Number of related items per row,
  and number of rows.
{% endcomment %}

{% assign number_of_related_products_per_row = settings.related_products_count %}
{% assign number_of_rows = 1 %}

{% comment %}
  Heading.
  Leave blank if you don't need one.
{% endcomment %}

{% assign heading = settings.related_products_title %}

{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}

  {% assign related_items_html = "" %}
  {% assign related_items_quick_view_html = "" %}

  
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
          {% unless same_type and current_product.type != product.type %}
            {% capture related_items %}
              {% include 'product-grid-item' %}
            {% endcapture %}
            {% capture related_items_quick_view %}
              {% include 'product-quick-view' %}
            {% endcapture %}

            {% assign related_items_html = related_items_html | append: related_items %}
            {% assign related_items_quick_view_html = related_items_quick_view_html | append: related_items_quick_view %}

            {% assign counter = counter | plus: 1 %}
            {% if counter == break_at %}
              {% break %}
            {% endif %}
          {% endunless %}
        {% endunless %}
      {% endunless %}
    {% endfor %}  

  {% assign related_items_html = related_items_html | trim %}

  {% unless related_items_html == blank %}
  
    <div class="row related-products">
      <div class="col-sm-12">  
        <h3 class="homepage-section-title">{{ heading }}</h3>
        <div class="products-carousel homepage-section">
        	{{ related_items_html }}
        </div>
      </div>
    </div>


    {{ related_items_quick_view_html }}

  {% endunless %}
     
{% endif %}